<div style="grid-area: info;">
    <h5>Profile</h5>
    <div class="profile-info-grid">
        <label style="grid-row: 1; grid-column: 1;">Username:</label>
        <span style="grid-row: 1; grid-column: 2;">{{ user_auth['sub'] }}</span>
        <label style="grid-row: 2; grid-column: 1;">Roles:</label>
        <ul style="grid-row: 2; grid-column: 2; display: inline; padding: 0;">
            {% for role in user_auth['roles'] %}
            <span class="badge text-bg-primary">{{ role }}</span>
            {% endfor %}
        </ul>
    </div>
</div>